.home-slider {
  width: 100vw;               /* Full screen width */
  height: 1000vh;              /* Full screen height */
  overflow: hidden;
  align-items: center;
  padding-left: 80px; /* <-- This adds space to the left */


}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  width: 90vw;               /* Full width */
  height: 85vh;              /* Full height */
  object-fit: cover;          /* Crop nicely without stretching */
  display: block;
}

.caption {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 3rem;
  color: #2A6049;
  font-weight: bold;
  z-index: 10;
  padding-bottom:100px;
  padding: 0px  20px;
}
