.navbar{
    background:rgb(14, 246, 130);;
          display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        height: 100px;
}
.navbar-links{
display: flex;
gap: 30px;
margin-left: 50px 50px;
}
.navbar-link{
    font-size: x-large;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: auto;
    transition: 0.3s;

}
.navbar-link:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;

}
.login-icon {
  font-size: 24px;
  color: #2d6a4f;
  cursor: pointer;
  margin: 60px;
}
.navbar-right {
  display: flex;
  align-items: center;
}

